html, body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    background-color: #EEF0F4;
    color: #432000;
    user-select: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

h2 {
    font-size: 2.5rem;
    font-weight: 300;
    text-align: center;
}

img {
    width: 120px;
    height: 120px;
    max-width: 100%;
    margin-bottom: 20px; /* Space between image and input field */
}

.main {
    background-color: #EEF0F4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Changed to start content from the top */
    padding: 20px;
    width: 100%;
    max-width: 600px;
    border: 3px solid #AC485A; /* Changed border styles */
    border-radius: 10px;    
    box-sizing: border-box;
    overflow-y: auto; /* Enable vertical scrolling */
}

input {
    color: black;
    background-color: #DCE1EB;
    width: 100%;
    max-width: 300px;
    height: 40px;
    border-radius: 10px;
    font-size: 1rem;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 20px; /* Space between input field and button */
}

button {
    color: #FDFDFD;
    background-color: #AC485A;
    width: 100%;
    max-width: 302px;
    height: 40px;
    border-radius: 10px;
    font-size: 1rem;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 20px; /* Space below button */

}

#add-button:hover{
    background-color: #432000;
    cursor: pointer;

}

ul {
    list-style: none;
    padding: 0;
    display:  flex;
    flex-wrap: wrap;
    gap: 10px;
}

ul li {
    background-color: #FFFDF8;
    padding: 15px;
    border-radius: 8px;
    flex-grow: 1;
    text-align: center;
    font-size: 20px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    user-select: none;
}
ul li:hover {
    background-color: #FFECC7;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.4);
    cursor:pointer;

}
@media (min-width: 768px) {
    h2 {
        font-size: 3rem;
    }

    input, button {
        font-size: 1.125rem;
    }

    .main {
        height: 70vh; /* Adjusted height for better scroll */
    }
}

@media (min-width: 1024px) {
    h2 {
        font-size: 3.5rem;
    }

    input, button {
        font-size: 1.25rem;
    }

    .main {
        height: 90vh; /* Adjusted height for better scroll */
    }
}
